{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>{{ program.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>catégory</th>
                <td>
                    <a href="{{ path('wild_category', {'categoryName': category.name}) }}"> <p> {{ category.name }}</p></a>
                </td>
            </tr>
            <tr>
                <th>acteurs</th>
                    <td>
                         {% for actor in program.actors %}
                             <a href="{{ path('actor_show' , {'id' : actor.id}) }}"><p>{{ actor.name }} </p></a>
                         {% else %}
                            <p>Aucun acteur pour cette série</p>
                        {% endfor %}
                    </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('program_index') }}">back to list</a>

    <a href="{{ path('program_edit', {'id': program.id}) }}">edit</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
