{% extends 'base.html.twig' %}

{% block body %}
<h2> {{ program.title }} episode n°{{  episode.number}} </h2>
    <p> titre :{{ episode.title }} </p>
    <p> synopsis :{{ episode.synopsis}} </p>
    <p>{{season.description}} ({{ season.year }})</p>
{% endblock %}

{% block title %}

{% endblock %}

