{% extends 'base.html.twig' %}

{% block body %}

        <div class="block-main text-center">
                <h1>Saison{{ season.id }}</h1>

                {% for episode in episodes %}
                        <p><a href="{{ path('wild_episode', {'id':episode.id}) }}"> Episode n° {{ episode.number }}
                                        :{{ episode.title }}</a> : {{ episode.synopsis }}</p>

                {% endfor %}

        </div>


{% endblock %}

{% block title %}

{% endblock %}

